.current-forecast {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;

    &__weather-text {
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
    }

    &__weather-image {
        width: 144px
    }
}