.app-content {
  display: flex;
  justify-content: center;
}

#content-card {
  display: flex;
  width: 80vw;
  min-height: 100vh !important;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.9);

  & > * {
    flex: 1;
  }
}
