.forecast-header {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;

    &__favorite-button {
        cursor: pointer;
    }
}

.details {
    text-align: center;

    &__city-name {
        font-size: 1.6rem;
    }

    &__temperature {
        font-size: 1.2rem;
    }
}